stainless-stack-trace.txt

project/

# Compiled class files
*.class

# Log files
*.log

# Temporary files
*.tmp

# Scala build tool directories
/.idea/
/.classpath
/.settings/
target/
/lib_managed/
/src_managed/
/.ensime_cache/
.bloop/
.metals/
project/target/
project/project/target/

# IntelliJ IDEA project files
*.iml
*.ipr
*.iws

# VS Code settings
.vscode/

# sbt specific files
/.history/
/.cache/
/dist/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
